@using MeetingPlanner.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="container">
    

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog" style="right: 0px; left: 0px;">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><span class="glyphicon glyphicon-lock"></span> Oturum Aç</h4>
                </div>
                <div class="modal-body col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center; padding:40px 50px;">
                    <section id="loginForm" style="margin-top: 30px; position:center; text-align:center;">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group" style="position:center;margin-left: 15px;">
                                @Html.LabelFor(m => m.UserName, new { @class = "col-lg-2   col-md-2 col-sm-2 control-label" })
                                <div class="col-lg-10 col-md-10 col-sm-10">
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                                    <div class="form-group" style="position:center;margin-left: 15px;">
                                        @Html.LabelFor(m => m.Password, new { @class = "col-lg-2 col-md-2 col-sm-2 control-label" })
                                        <div class="col-lg-10 col-md-10 col-sm-10">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10" >
                                            <div class="checkbox">
                                                @Html.CheckBoxFor(m => m.RememberMe)
                                                @Html.LabelFor(m => m.RememberMe)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Log in" class="btn btn-default" />
                                        </div>
                                    </div>


                        }
                    </section>

                </div>
                <div class="modal-footer">
                    
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $('#myModal').modal({ backdrop: 'static', keyboard: false })
    });

</script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}